.avatar {
  width: 40px;
}

.navbar-brand {
  span {
    font-weight: bold;
  }

  h1 {
    font-weight: lighter;
    font-size: 2rem;
  }
}

.sidebar-link {
  text-decoration: none;
}

.dashboard-info-description {
  font-size: 1rem;
}

.dashboard-info-number {
  font-size: 3rem;
}

.page-title {
  font-size: 1.25rem;
}
